body {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #e0f1e8;
}

input[type="radio"] {
  appearance: none;
  display: none;
}

input[type="radio"]:checked {
  appearance: none;
  display: none;
}

input[type="radio"]:focus {
  appearance: none;
}

input[type="checkbox"] {
  appearance: none;
  display: none;
}

input[type="checkbox"]:checked {
  appearance: none;
  display: none;
}

input[type="checkbox"]:focus {
  appearance: none;
}
